.ql-editor {
    white-space: nowrap;
    /* 텍스트가 한 줄로 보이도록 설정 */
    overflow: hidden;
    /* 공간을 벗어날 경우 텍스트를 잘림 */
    text-overflow: ellipsis;
    /* 넘친 내용을 ...로 표시 */
    max-width: 600px;
    /* 최대 너비 설정, 필요에 따라 조절 */
}