/* src/components/ToggleMenu.css */
.menu {
    position: absolute;
    top: 1%;
    left: 0;
    width: 250px;
    height: calc(100%);
    overflow-y: auto;
    background-color: #f0f0f0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.menu-visible {
    transform: translateX(0);
}

.total {
    font-size: 30px;
    margin-bottom: 8px;
}

.total a {
    color: black
}

.totalmenu {
    font-size: 20px;
}

.optionmenu a {
    color: rgb(167, 161, 161);
}